/** Font **/

	/* Lato */
	@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

	/* Montserrat */
	@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800);

	/* Roboto */
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
  
  html {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      height: 40px;
      background-color: #eee;
      border-radius: 16px;
      &:hover {
        background-color: #ddd;
      }
    }
  }

  ::selection {
    background: rgba(0, 149, 255, 0.1);
  }

  html {
    font-family: "Open Sans", serif;
  }

  body {
		font-size:16pt;
		// font-size:1.25rem;
		line-height:1.84;
		color:rgba(0,0,0,.8);
    // font-size: 11pt;
    // font-weight: 400;
    // line-height: 2em;
    background-color: $light-background-color;
    // color: $light-font-color;
    &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.05;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
    }

     &.dark-theme {
        background-color: $dark-background-color;
        color: $dark-font-color;
     }
  }

  a {
    color: $light-global-link-color;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    &:hover {
      color: $light-global-link-hover-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }

     .dark-theme & {
      color: $dark-global-link-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

      &:hover{
        color: $dark-global-link-hover-color;
        text-decoration: none;
        transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
      }
    }
  }

  blockquote {
    font-size: 1rem;
    display: block;
    border-width: 1px 0;
    border-style: solid;
    border-color: $light-border-color;
    padding: 1.5em 1.2em 0.5em 1.2em;
    margin: 0 0 2em 0;
    position: relative;

    // This makes it so I can add an h3 tag as the title of an aside. See first hour of your day post.
    p:empty:first-child {
      margin: 0 !important;
      height: 0 !important;
    }

    &:before {
      position: absolute;
      top: 0em;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3rem;
      height: 2rem;
      font: 6em/1.08em 'PT Sans', sans-serif;
      color: $light-post-link-color;
      text-align: center;

       .dark-theme &{
         color: $dark-post-link-color;
       }
    }

    .dark-theme & {
      border-color: $dark-border-color;
    }
  }

  .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
  }