<footer class="footer">
    <div class="copyright">
      <div class="social-links" style="margin-bottom:0">
        {{ partial "social.html" . }}
      </div>
        &copy;
        {{ with .Site.Params.since }}
        <!-- <span itemprop="copyrightYear">{{.}} - {{ now.Year }}</span> -->
        <span itemprop="copyrightYear">{{.}}</span>
        {{ end }}
         {{ if .Site.Params.author }}
            <!--<span class="author" itemprop="copyrightHolder"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.author  }}</a> | </span>-->
            <span class="author" itemprop="copyrightHolder"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.author  }}</a></span>
         {{ end }}

		  <!--<span>Crafted with ❤️ by <a href="https://github.com/Fastbyte01/KeepIt" target="_blank" rel="external nofollow noopener noreffer">KeepIt</a> & <a href="https://gohugo.io/" target="_blank" rel="external nofollow noopener noreffer">Hugo</a></span>-->
    </div>
</footer>

{{ partial "js.html" . }}
