{{ with .Site.Params.Social.Github }}
<a href="https://github.com/{{.}}" target="_blank" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-github"></i></a>
{{ end }}
{{ with .Site.Params.Social.Twitter }}
<a href="https://twitter.com/{{.}}" target="_blank" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-twitter"></i></a>
{{ end }}
{{ with .Site.Params.Social.LinkedIn }}
<a href="https://linkedin.com/in/{{.}}" target="_blank" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-linkedin"></i></a>
{{ end }}
{{ with .Site.Params.Social.Instagram }}
<a href="https://www.instagram.com/{{.}}/" target="_blank" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-instagram"></i></a>
{{ end }}
{{ with .Site.Params.Social.Email}}
<a href="mailto:{{.}}" rel="me noopener noreffer"><i class="iconfont icon-mail" target="_blank"></i></a>
{{ end }}
{{ with .Site.Params.Social.Facebook}}
<a href="https://facebook.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-facebook"></i></a>
{{ end }}
{{ with .Site.Params.Social.Telegram}}
<a href="https://t.me/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-telegram-plane"></i></a>
{{ end }}
{{ with .Site.Params.Social.Medium}}
<a href="https://medium.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-medium"></i></a>
{{ end }}
{{ with .Site.Params.Social.Gitlab}}
<a href="https://gitlab.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-gitlab"></i></a>
{{ end }}
{{ with .Site.Params.Social.Youtubelegacy}}
<a href="https://www.youtube.com/user/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-youtube"></i></a>
{{ end }}
{{ with .Site.Params.Social.Youtubecustom}}
<a href="https://www.youtube.com/c/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-youtube"></i></a>
{{ end }}
{{ with .Site.Params.Social.Youtubechannel}}
<a href="https://www.youtube.com/channel/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-youtube"></i></a>
{{ end }}
{{ with .Site.Params.Social.Tumblr}}
<a href="https://{{.}}.tumblr.com" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-tumblr"></i></a>
{{ end }}
{{ with .Site.Params.Social.Quora}}
<a href="https://www.quora.com/profile/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-quora"></i></a>
{{ end }}
{{ with .Site.Params.Social.Keybase}}
<a href="https://keybase.io/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-keybase"></i></a>
{{ end }}
{{ with .Site.Params.Social.Pinterest}}
<a href="https://www.pinterest.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-pinterest"></i></a>
{{ end }}
{{ with .Site.Params.Social.Reddit}}
<a href="https://www.reddit.com/user/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-reddit"></i></a>
{{ end }}
{{ with .Site.Params.Social.Codepen}}
<a href="https://codepen.io/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-codepen"></i></a>
{{ end }}
{{ with .Site.Params.Social.Bitbucket}}
<a href="https://bitbucket.org/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-bitbucket"></i></a>
{{ end }}
{{ with .Site.Params.Social.Stackoverflow}}
<a href="https://stackoverflow.com/users/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-stack-overflow"></i></a>
{{ end }}
{{ with .Site.Params.Social.Weibo}}
<a href="https://weibo.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-weibo"></i></a>
{{ end }}
{{ with .Site.Params.Social.Odnoklassniki}}
<a href="https://ok.ru/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-odnoklassniki"></i></a>
{{ end }}
{{ with .Site.Params.Social.VKontakte}}
<a href="https://vk.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-vk"></i></a>
{{ end }}
{{ with .Site.Params.Social.Flickr}}
<a href="https://www.flickr.com/photos/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-flickr"></i></a>
{{ end }}
{{ with .Site.Params.Social.Xing}}
<a href="https://www.xing.com/profile/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-xing"></i></a>
{{ end }}
{{ with .Site.Params.Social.Snapchat}}
<a href="https://www.snapchat.com/add/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-snapchat"></i></a>
{{ end }}
{{ with .Site.Params.Social.Soundcloud}}
<a href="https://soundcloud.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-soundcloud"></i></a>
{{ end }}
{{ with .Site.Params.Social.Spotify}}
<a href="https://open.spotify.com/user/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-spotify"></i></a>
{{ end }}
{{ with .Site.Params.Social.Bandcamp}}
<a href="https://{{.}}.bandcamp.com/" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-bandcamp"></i></a>
{{ end }}
{{ with .Site.Params.Social.Paypal}}
<a href="https://paypal.me/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-paypal"></i></a>
{{ end }}
{{ with .Site.Params.Social.Fivehundredpx}}
<a href="https://500px.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-500px"></i></a>
{{ end }}
{{ with .Site.Params.Social.Mix}}
<a href="https://mix.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-mix"></i></a>
{{ end }}
{{ with .Site.Params.Social.Goodreads}}
<a href="https://www.goodreads.com/user/show/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-goodreads"></i></a>
{{ end }}
{{ with .Site.Params.Social.Lastfm}}
<a href="https://www.last.fm/user/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-POP_lastfm"></i></a>
{{ end }}
{{ with .Site.Params.Social.Foursquare}}
<a href="https://foursquare.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-foursquare"></i></a>
{{ end }}
{{ with .Site.Params.Social.Hackernews}}
<a href="https://news.ycombinator.com/user?id={{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-ycombinator"></i></a>
{{ end }}
{{ with .Site.Params.Social.Kickstarter}}
<a href="https://kickstarter.com/profile/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-kickstarter"></i></a>
{{ end }}
{{ with .Site.Params.Social.Patreon}}
<a href="https://patreon.com/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-patreon"></i></a>
{{ end }}
{{ with .Site.Params.Social.Steam}}
<a href="https://steamcommunity.com/id/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-steam"></i></a>
{{ end }}
{{ with .Site.Params.Social.Twitch}}
<a href="https://www.twitch.tv/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-twitch"></i></a>
{{ end }}
{{ with .Site.Params.Social.Strava}}
<a href="https://www.strava.com/athletes/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-strava"></i></a>
{{ end }}
{{ with .Site.Params.Social.Skype}}
<a href="skype:{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-skype"></i></a>
{{ end }}
{{ with .Site.Params.Social.Whatsapp}}
<a href="https://wa.me/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-whatsapp"></i></a>
{{ end }}
{{ with .Site.Params.Social.Zhihu}}
<a href="https://www.zhihu.com/people/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-zhihu"></i></a>
{{ end }}
{{ with .Site.Params.Social.Douban}}
<a href="https://www.douban.com/people/{{.}}" rel="me noopener noreffer" target="_blank"><i class="iconfont icon-douban"></i></a>
{{ end }}
